// src/styles/components/_misc.scss

#goToTopBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 10px;
  z-index: 0;
  background-color: $color-bottom-red;
  color: $color-white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}

/* In order for the smooth scrolling function to work when you click anywhere on the button */
#goToTopBtn .fa {
  text-align: center;
  pointer-events: none;
}

#bodyBlur {
  width: 100%;
  height: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(23, 21, 21, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 2;
  display: none;
  cursor: initial;
}
