// src/styles/components/_portfolio.scss

.sortBtn {
  margin: 5px 5px;
  text-align: center;
  background: #555252;
  cursor: pointer;
  padding: 5px 10px;
  transition: all .3s;
}

.sortBtn:hover {
  color: #555252;
  background: $color-white;
  border: #555252;
}

.filter {
  display: none;
}

.show {
  animation: fadeIn 1s;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.sortBtn.active {
  color: #555252;
  border: #555252;
  background: $color-white;
}

.portfolio-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 30px;
  width: 75%;
  flex-direction: row;
  margin: 0 auto;
}

.portfolio {
  box-sizing: border-box;
  margin-top: 30px;
  height: 200px;
  width: 30%;
  background: gray;
  position: relative;
  border: 2px solid $color-accent-blue;
  box-shadow: 0 1px 11px $color-accent-blue, 0 15px 12px rgba(0, 0, 0, .1);
}

.hover-text {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.filter.portfolio:hover .hover-text {
  color: $color-white;
  opacity: .9;
}

.text {
  color: $color-white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio a {
  display: block;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: $color-white;
}

/* portfolio background images */
.portfolio0  { background: url("../img-optimized/portfolio0.jpg")  center no-repeat; background-size: cover; }
.portfolio1  { background: url("../img-optimized/portfolio1.jpg")  center no-repeat; background-size: cover; }
.portfolio2  { background: url("../img-optimized/portfolio2.jpg")  left   no-repeat; background-size: cover; background-position: 50% 50%; }
.portfolio3  { background: url("../img-optimized/portfolio3.jpg")  center no-repeat; background-size: cover; }
.portfolio4  { background: url("../img-optimized/portfolio4.jpg")  center no-repeat; background-size: cover; }
.portfolio5  { background: url("../img-optimized/portfolio5.jpg")  center no-repeat; background-size: cover; }
.portfolio6  { background: url("../img-optimized/portfolio6.jpg")  center no-repeat; background-size: cover; }
.portfolio7  { background: url("../img-optimized/portfolio7.jpg")  center no-repeat; background-size: cover; }
.portfolio8  { background: url("../img-optimized/portfolio8.jpg")  center no-repeat; background-size: cover; }
.portfolio9  { background: url("../img-optimized/portfolio9.jpg")  center no-repeat; background-size: cover; }
.portfolio10 { background: url("../img-optimized/portfolio10.jpg") center no-repeat; background-size: cover; }
.portfolio11 { background: url("../img-optimized/portfolio11.jpg") center no-repeat; background-size: cover; }
.portfolio12 { background: url("../img-optimized/portfolio12.jpg") center no-repeat; background-size: cover; }
.portfolio13 { background: url("../img-optimized/portfolio13.jpg") center no-repeat; background-size: cover; }
.portfolio14 { background: url("../img-optimized/portfolio24.jpg") center no-repeat; background-size: cover; }
.portfolio15 { background: url("../img-optimized/portfolio15.jpg") center no-repeat; background-size: cover; }
.portfolio19 { background: url("../img-optimized/portfolio19.jpg") center no-repeat; background-size: cover; }
.portfolio20 { background: url("../img-optimized/portfolio20.jpg") center no-repeat; background-size: cover; }
.portfolio21 { background: url("../img-optimized/portfolio21.jpg") center no-repeat; background-size: cover; }
.portfolio22 { background: url("../img-optimized/portfolio22.jpg") center no-repeat; background-size: cover; }
.portfolio23 { background: url("../img-optimized/portfolio23.jpg") center no-repeat; background-size: cover; }

/* View more button */
#viewMoreBtn {
  text-decoration: none;
  color: $color-white;
  display: block;
  margin: 40px auto;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: $color-viewmore-red;
  border: 1px solid $color-viewmore-red;
  padding: 5px 10px;
  transition: all .3s;
  box-shadow: 0 0 15px $color-viewmore-red;
}

#viewMoreBtn:hover {
  color: $color-white;
  background: transparent;
  border: 1px solid $color-viewmore-red;
  box-shadow: 0 0 25px $color-viewmore-red;
}
