nav, section, aside, header,h1,h2,h3,h4,h5,h6 {
     -webkit-margin-before: 0em;
     -webkit-padding-start: 0;
     -webkit-margin-after: 0em;
     margin:0;
     padding:0;  
}
 section:focus, div:focus, footer:focus {
     outline:none;
}
 @-webkit-keyframes fadeIn {
     from {
         opacity:0;
    }
     to {
         opacity: 1;
    }
}
 @keyframes fadeIn {
     from {
         opacity:0;
    }
     to {
         opacity: 1;
    }
}

@-webkit-keyframes starPulse {
     from {opacity: 0.1;}
     to {opacity: 0.5;}
}

@keyframes starPulse {
     from {opacity: 0.1;}
     to {opacity: 0.5;}
}


 @keyframes zoom-in {
     0% {
         transform: scale(1) 
    }
     50% {
         transform: scale(1.2) 
    }
}
 @keyframes scroll {
     0% {
         opacity: 0 
    }
     10% {
         transform: translateY(0);
         opacity: 1 
    }
     100% {
         transform: translateY(15px);
         opacity: 0 
    }
}
 body {
     margin:0;
     padding:0;
     font-family: 'Montserrat', sans-serif;
}
 .logo img {
     filter:brightness(1.5);
     position:absolute;
     height:170px;
     left:1rem;
     top:-1.5rem;
     transition:all .5s;
}
 .logo img:hover {
     filter:brightness(2);
}
/* universal styling */
 .first-page, .second-page, .third-page, .fifth-page {
     min-height:600px;
     height:100%;
     height:100vh;
     width:100%;
     position:relative;
}
 .second-page:before, .third-page .container:before, .fifth-page:before {
     content:'';
     position:absolute;
     top:0;
     bottom:0;
     left:0;
     right:0;
     display:block;
}
 .overlay {
     height:100%;
     height:100vh;
     min-height:600px;
     background-size:cover;
     opacity:.6;
}
 .overlay:before {
     content: "";
     width: 100%;
     height: 100%;
     position: absolute;
}
/* end universal styling */
 .first-page {
     background:url("img-optimized/shapes-background.png") #0A0A0B no-repeat 90% 100%;
     background-size:1000px;
     overflow:hidden;
}
 .first-page .overlay {
     animation: zoom-in 30s linear 10ms infinite;
}
 .first-page .overlay:before {
     background: #1B2030 url(img-optimized/main-background.jpg) center center no-repeat;
     background-size: cover;
}
 .sidenav {
     height: 50px;
     line-height:50px;
     width: 500px;
     position: absolute;
     z-index: 1111;
     top: 0;
     right:5rem;
     float:right;
     transition: 0.5s;
     border-bottom:5px solid grey;
}
 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 20px;
     transition: 0.3s;
     color:#FFFFFF;
     display:inline-block;
}
/*************************** underline hover effect ***************/
 #mySidenav a::after{
     content: '';
     display: block;
     height: 5px;
     background: #F22051;
     transition: all .4s;
     left:0;
     bottom: 8px;
     transform: scaleX(0);
     width: 100%;
     position:relative;
}
 #mySidenav a:hover::after {
     transform: scaleX(1);
}
 .sidenav .closebtn {
     display:inline-block;
     width:100%;
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 66px;
     margin-left: 50px;
}
 #mySidenav .closebtn::after {
     height: 0;
}
 #close {
     display:none;
     right:-64px;
}
 .open-nav {
     cursor:pointer;
     width:150px;
     height:50px;
     top:3%;
     left:5%;
     text-align:center;
     background:black;
     position:absolute;
     z-index:9;
     color:white;
     line-height:50px;
     display:none;
}
 .home-text {
     text-align:center;
     font-size:26px;
     height:60%;
     width:500px;
     position:absolute;
     top:0;
     left:0;
     bottom:0;
     right:0;
     margin:auto;
     color:#232222;
     border:5px solid blue;
     box-sizing:border-box;
     box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
     display:flex;
     justify-content:center;
     flex-direction:column;
     align-items:center;
     outline:none;
}
 .home-text h1 {
     font-size:40px; /*for the landing page only*/
     color:#E7E3E3;
}
.home-text header h1 {
     font-size:33px;
}
 .home-text h4 {
     margin:35px 0 40px 0;
     font-weight:bold;
     color:white;
     background:rgba(0,0,0,0.2);
     display:block;
     width:100%;
}
 .home-text p {
     width:80%;
     font-family: 'Open Sans', sans-serif;
     font-size:21.2px;
}
 .home-text p span {
     font-weight:bold;
}
 h5 {

     margin-bottom:-15px;
}

 .cta {
     padding:15px 10px;
     font-size:18px;
     text-decoration:none;
     color:white;
     border-radius:5px;
     margin-top:-50px;
     box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
     background: #D31027;
     background: -webkit-linear-gradient(to right, #c23636, #D31027);
     background: linear-gradient(to right, #c23636, #D31027);
     border-bottom:5px solid #880707;
     position:relative;
}
 .cta:hover {
     filter:brightness(1.1);
}
 .cta:active {
     top:.5px;
}
 .scroll-container {
     position:absolute;
     text-align: center;
     width: 100px;
     left:0;
     right:0;
     margin:auto;
     bottom:1rem;
     opacity: .7;
     padding-bottom: 12px;
     filter:brightness(1.5);
     transition:.5s all;
}
 .scroll-container:hover {
     filter:brightness(2);
}
 .mouse, .scroller {
     pointer-events: none;
     width: 3px;
}
 .mouse {
     padding: 10px 15px;
     height: 25px;
     border: 2px solid #007bff;
     border-radius: 25px;
     opacity: .75;
     margin: -5px auto 12px;
}
 .scroller {
     height: 7px;
     border-radius: 25%;
     background-color: #007bff;
     animation-name: scroll;
     animation-duration: 1.2s;
     animation-timing-function: cubic-bezier(.15, .41, .69, .94);
     animation-iteration-count: infinite;
}
 .social {
     display:flex;
     justify-content:center;
     align-items:center;
     flex-direction:column;
     left:2rem;
     height:200px;
     position:absolute;
     bottom:1rem;
}
 .social .fa {
     color:lightblue;
     padding:5px;
     font-size:18px;
     margin-top:20px;
     border:1px solid lightblue;
     border-radius:10%;
}
 .social .fa:hover {
     border:1px solid white;
     background:white;
     color:black;
     transition:.5s all;
}
 .second-page {
     background:url("img-optimized/romb.png") #0A0A0B no-repeat 10vw 100%;
     background-size:1300px;
}
 .second-page:before {
     background: #1488CC;
     background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);
     background: linear-gradient(to left, #2B32B2, #1488CC);
     opacity:.5;
}
 .second-page .overlay:before {
     background:url("img-optimized/background2.jpg") center no-repeat;
     background-size: cover;
}
 .second-page .home-text {
     border:none;
     box-shadow:none;
     width:80%;
}
 .second-page .home-text p {
     width:80%;
     color:white;
}
 .third-page {
     background-size:cover;
}
/* targeting both left and right side */
 .third-page .container {
     width:50%;
     min-height:600px;
     height:100%;
     height:100vh;
     position:relative;
}
 .third-page .left {
     background:url("img-optimized/art.jpg")center no-repeat;
     float:left;
}
 .third-page .container.left:before {
     background: #ffe259;
     background: -webkit-linear-gradient(to bottom, #0a2d6d, #ceb81c);
     background: linear-gradient(to bottom, #0a2d6d, #ceb81c);
     opacity:.7;
}
 .third-page .container.right {
     background:url("img-optimized/feather.jpg")no-repeat center;
     background-size:cover;
     float:right;
}
 .third-page .container.right:before {
     background: #F00000;
     background: -webkit-linear-gradient(to bottom, #ca0909f7, #000000);
     background: linear-gradient(to bottom, #ca0909f7, #000000);
     opacity:.8;
}
 .third-page .home-text {
     color:white;
     width:100%;
     border:none;
     box-shadow:none;
}
 .third-page .logos {
     justify-content:center;
     z-index:555;
     flex-wrap:wrap;
     position:relative;
     right:0;
     bottom:-1rem;
     left:0;
     display:flex;
     flex-wrap:wrap;
}
 .third-page figure {
     align-items:center;
     justify-content:center;
     display:inline-flex;
     background:#989899;
     border-radius:5px;
     height:45px;
     width:65px;
     margin:0 5px 10px 5px;
     box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
     transition:all .3s;
     filter:grayscale(1);
}
 .logos img {
     height:30px;
}
 figure:hover {
     background:black;
     filter:grayscale(.3);
}

 .fourth-page {
     position:relative;
     padding-bottom:30px;
     background:#1B1919;
     background: radial-gradient(#555, #000);
     background-size:cover;
     z-index:0;
}


.fourth-page:before  {
 content:'';
 top:0;
 left:0;
 right:0;
 bottom:0;
 height:100%;
 width:100%;
 position:absolute;
 background:url("img-optimized/stars.png");
 display:block;
 opacity:0.1;
      z-index:-1;
          animation: starPulse 3s infinite alternate;

}
 .clearfix {
     clear: both;
}
 .fourth-page .home-text {
     position:static;
     padding-bottom:25px;
     width:95%;
     border:none;
     box-shadow:none;
}
 .fourth-page h1 {
     margin-bottom:33px;
     padding-top:70px;
}
 .fourth-page .home-text p{
     color:white;
     width:70%;
     margin:0 auto;
}
 .sortContainer {
     width:100%;
     margin:0 auto 32px auto;
}
 .sortContainer ul {
     font-size:12px;
     list-style-type:none;
     color:white;
     padding:0;
     display: flex;
     flex-wrap: wrap;
     justify-content:center;
}
 #info {
     font-size:15px;
}
 .sortBtn {
     margin:5px 5px;
     text-align:center;
     background:#555252;
     cursor:pointer;
     padding:5px 10px;
     box-shadow: 0 19px 58px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
     transition:all .3s;
}
 .sortBtn:hover {
     color:#555252;
     background:white;
     border:#555252;
}
 .filter {
     display: none;
}
 .show {
     animation:fadeIn 1s;
     display:flex;
     justify-content:space-around;
     flex-direction:row;
}
 .sortBtn.active {
     color:#555252;
     border:#555252;
     background:white;
}
 .portofolio-container{
     display:flex;
     justify-content:space-around;
     flex-wrap:wrap;
     padding-bottom:30px;
     width:75%;
     flex-direction:row;
     margin:0 auto;
}
 .portofolio {
     box-sizing:border-box;
     margin-top:30px;
     height:200px;
     width:30%;
     border:1px solid #fff;
     background:gray;
     box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
     position: relative;
}
 .hover-text {
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .5s ease;
     background-color: #000;
}
 .filter.portofolio:hover .hover-text {
     color: #fff;
     opacity: .9;
}
 .text {
     color: white;
     font-size: 20px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     text-align:center;
}
 .portofolio a {
     display: block;
     height:100%;
     position:relative;
     text-decoration:none;
     color:white;
}
 .portofolio1 {
     background:url("img-optimized/portofolio1.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio2 {
     background:url("img-optimized/portofolio2.jpg") left no-repeat;
     background-size:cover;
}
 .portofolio3 {
     background:url("img-optimized/portofolio3.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio4 {
     background:url("img-optimized/portofolio4.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio5 {
     background:url("img-optimized/portofolio5.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio6 {
     background:url("img-optimized/portofolio6.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio7 {
     background:url("img-optimized/portofolio7.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio8 {
     background:url("img-optimized/portofolio8.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio9 {
     background:url("img-optimized/portofolio9.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio10 {
     background:url("img-optimized/portofolio10.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio11 {
     background:url("img-optimized/portofolio11.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio12 {
     background:url("img-optimized/portofolio12.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio13 {
     background:url("img-optimized/portofolio13.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio14 {
     background:url("img-optimized/portofolio14.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio15 {
     background:url("img-optimized/portofolio15.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio16 {
     background:url("img-optimized/portofolio16.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio17 {
     background:url("img-optimized/portofolio17.jpg") center no-repeat;
     background-size:cover;
}
 .portofolio18 {
     background:url("img-optimized/portofolio18.jpg") center no-repeat;
     background-size:cover;
}
 #viewMoreBtn {
     text-decoration:none;
     color:white;
     display:block;
     margin:0 auto;
     width:140px;
     height:35px;
     line-height:35px;
     text-align:center;
     background:#595656;
     border:1px solid #595656;
     padding:5px 10px;
     transition:all .3s;
     border-radius:5px;
}
 #viewMoreBtn:hover {
     color:#FFFFFF;
     background:transparent;
     border:1px solid white;
}
 .fifth-page:before {
     background: #000428;
    /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 .fifth-page .overlay {
     opacity:.7;
}
 .fifth-page .overlay:before {
     background:url("img-optimized/wall.jpg") center;
     background-size:cover;
}
 .fifth-page .home-text {
     color:#DDDADA;
     width:80%;
     border:5px solid #DB123D;
}
 .fifth-page .home-text p {
     width:100%;
}
 #bottom {
     display:flex;
     justify-content:center;
     align-items:center;
     min-height:20px;
     text-align:center;
     background:#EC2424;
}
 p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, li::selection, body::selection, span::selection, input::selection, textarea::selection, img::selection {
     background: #DE0A3F;
     color: #fff;
}
 .footer {
     display:flex;
     color:white;
     margin:0 auto;
     text-align:center;
     height:350px;
     background:#262626;
}
 .footer .left {
     justify-content:center;
     align-items:center;
     display:flex;
     width:70%;
     border-right:1px solid #2B2A2A;
}
 .footer .left h2 {
     border-bottom:1px solid white;
     width:250px;
     margin:0 auto;
}
 form {
     box-shadow: 0 59px 38px rgba(0, 0, 0, .3), 15px 0 12px rgba(0, 0, 0, .1);
     height:200px;
}
 input[type="text"] {
     margin-top:15px;
}
 input[type="text"], input[type="email"], textarea {
     margin-left:5px;
     background:transparent;
     color:white;
     width:55%;
     float:left;
     height:40px;
     margin-bottom:5px;
     border:1px solid #8abdff;
     padding:10px;
     box-sizing:border-box;
}
 textarea {
     height:80px;
     resize: none;
}
 button[type="submit"] {
     margin-top:10px;
     width:150px;
     height:50px;
     background:#EC2424;
     border:1px solid #EC2424;
     color:white;
     cursor:pointer;
     transition:all .3s;
     box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15) 
}
 button:focus {
    outline:0;
}
 button[type="submit"]:hover {
     background:transparent;
}
 input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
     font-family:Arial;
     color:white;
}
 .footer .right {
     justify-content:center;
     flex-direction:column;
     align-items:center;
     display:flex;
     width:30%;
}
 .footer .logo, .footer .logo img {
     position:static;
     cursor:initial;
}
 .footer .social-icons .fa {
     color:lightblue;
     padding:5px;
     font-size:18px;
     margin-top:20px;
     border:1px solid lightblue;
     border-radius:10%;
}
 .footer .social-icons .fa:hover {
     border:1px solid white;
     background:white;
     color:black;
     transition:.5s all;
}
 .copyright a, #bottom a {
     text-decoration:none;
     color:#8abdff;
}
 .copyright a:hover {
     color:#ABCEFC;
}
 #goToTopBtn {
     display: none;
     position: fixed;
     bottom: 25px;
     right: 10px;
     z-index: 0;
     background-color: #EC2424;
     color: white;
     cursor: pointer;
     width: 40px;
     height: 40px;
     border:none;
     font-size:20px;
     text-align:center;
     line-height:40px;
}
/*in order for the smooth scrolling function to work when you click anywhere on the button*/
 #goToTopBtn .fa {
     text-align:center;
     pointer-events:none;
}

    #bodyBlur {
         width: 100%;
         height:100%;
         height: 100vh;
         position: fixed;
         background: rgba(23, 21, 21, 0.7);
         top: 0;
         bottom: 0;
         right: 0;
         left: 0;
         margin: auto;
         z-index: 2;
         display: none;
         cursor:initial;
    }
 @media all and (min-width:960px) {
     .third-page .home-text {
         justify-content: initial;
    }
     .fifth-page p {
         font-size:25px;
    }
}
 @media all and (max-width:980px) {
     .third-page .container.left {
         width:100%;
    }
     .third-page .container.right {
         width:100%;
    }
     .fourth-page .home-text p {
         width:90%;
    }
     .portofolio {
         width:45%;
    }
     .portofolio-container {
         width:90%;
    }
}

 @media all and (max-width:767px) {
     .first-page .logo {
         width:120px;
         height:120px;
         margin-right:20px;
         position:absolute;
         right:0;
         top:0;
    }
     .first-page .logo a img {
         height:120px;
         top:-1.7rem;
         bottom:0;
         margin:auto;
         left:0;
         right:0;
         z-index:0;
    }
     .footer .logo img {
         height:130px;
    }
 
     .sidenav.mobile-only {
         width:250px;
         background:#2F3FD5;
         background: rgba(0, 0, 0, 1) url(img-optimized/nav.png) repeat;
    }
     .sidenav.mobile-only a {
         color:white;
         width:50%;
    }
     .sidenav {
         height: 100%;
         width: 0;
         position: fixed;
         z-index: 1111;
         top: 0;
         left: 0;
         background-color: black;
         overflow-x: hidden;
         transition: 0.5s;
         padding-top: 60px;
    }
     .sidenav a {
         padding: 8px 8px 8px 32px;
         text-decoration: none;
         font-size: 25px;
         color: #818181;
         display: block;
         transition: 0.3s;
         float:none;
    }
     .open-nav {
         display:block;
    }
     #close {
         display:block;
    }
     .third-page {
         width:100%;
    }
     .footer {
         flex-wrap:wrap;
         height:100%;
         padding-bottom:30px;
    }
     .footer .left, .footer .right {
         width:100%;
    }
     .form-container {
         padding-top:50px;
    }
     .form-container p {
         padding:0 20px;
    }
}
 @media all and (max-width:690px) {
     .home-text h1 {
         font-size:32px;
    }
     .social {
         flex-direction:row;
         left:0;
         right:0;
         bottom:4.5rem;
    }
     .social .fa {
         margin:20px 10px 0 10px;
    }
}
 @media all and (max-width:600px) {
     .home-text {
         font-size:20px;
         width:100%;
         text-align:center;
    }
     .home-text h1 {
         font-size:30px;
    }
     .home-text h4 {
         font-size:25px;
    }
     .portofolio-container .portofolio {
         width:70%;
    }
     form {
         height:100%;
         padding-bottom:40px;
         box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
    }
     input[type="text"], input[type="email"], textarea, button[type="submit"] {
         float:none;
         width:70%;
    }
}
 @media all and (max-width:569px) {
     .portofolio {
         width:77%;
    }
}
 @media all and (max-width: 480px) {
     .cta {
         margin-top:-25px;
    }
     .second-page .home-text p {
         width:100%;
    }
     .portofolio {
         width:90%;
    }
     input[type="text"], input[type="email"], textarea, button[type="submit"] {
         width:95%;
    }
     .home-text p {
         font-size: 18px;
    }
    .third-page .right h1 {
          margin-top:-35px;
    }
     .third-page .logos {
         top:0;
    }
     .third-page figure {
         width:27%;
    }
     .fifth-page .home-text {
         width:90%;
         height:67%;
    }
}

 @media all and (max-width:380px) {
     .sidenav.mobile-only {
         width:70%;
    }
     .open-nav {
         width:70px;
    }
     .logo {
         margin-right:8px;
         top:-2px;
    }
     .logo a img {
         height:100px;
         right:-1.5rem;
    }
     .home-text h4 { /*landing page h4*/
         font-size:20px;
         margin-top:-10px;
    }

  .home-text header h1 { /*targeting all h1 headers but not the landing page h1*/
         width:90%;
         margin:0 auto;
         font-size:25px;
    }
    .fourth-page header h1 {
         margin-bottom:25px;
    }
     .portofolio-container .portofolio {
         width:100%;
    }
}
 @media all and (max-width: 345px) {
     .home-text p {
         width:90%;
    }
     .fifth-page .home-text{
         width:100%;
    }
}
 