{# src/_includes/layouts/base.njk #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="Web portfolio of Andrei Nemeti, Freelance Front-end developer based in Cluj-Napoca, Romania" name="description" />
    <meta content="andrei nemeti, freelance front-end developer, andrei nemeti portfolio front-end, developer, front-end developer, websites cluj, developer cluj-napoca, amazing websites, wordpress developer cluj, front-end developer cluj, freelancer cluj, web-development cluj, portfolio front-end developer, contact andrei nemeti,bootstrap developer cluj, responsive website, site-uri cluj, fiverr developer romania, upwork developer romania, freelancer romania, andrei nemeti github, junior front-end developer cluj" name="keywords">
    <title>{{ title or "Andrei Nemeti - Freelance Front-end developer" }}</title>
    <meta content="Andrei Nemeti" name="author">
    <meta name="referrer" content="origin">

    <!-- Favicon -->
    <link href="assets/img-optimized/icon.ico" rel="shortcut icon" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-96165958-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-96165958-2');
    </script>
  </head>
  <body>
    {{ content | safe }}

    <div id="bodyBlur"></div>
    <a href="#top" id="goToTopBtn" title="Go to top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>

    <!-- Scripts -->
    <script src="assets/js/script.js"></script>
  </body>
</html>
