---
layout: "layouts/base.njk"
title: "Andrei Nemeti - Freelance Front-end developer"
---

<div class="main-wrapper" id="top">

  <div class="first-page">
    <div class="overlay"></div>

    {# NAV PARTIAL #}
    {% include "partials/nav.njk" %}

    <section class="main-text">
      <h4>HI, I'M ANDREI</h4>
      <h1>Freelance<br/>Front-end<br/>Developer</h1>
    </section>

    <aside class="social">
      <a href="https://www.linkedin.com/in/andrei-marian-nemeti/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://github.com/andreinemeti" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://codepen.io/andreimarian/" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
    </aside>

    <div class="scroll-container">
      <a href="#welcome">
        <div class="mouse">
          <div class="scroller"></div>
        </div>
      </a>
    </div>
  </div>
  <!-- end first-page -->

  <div class="second-page" id="welcome">
    <div class="overlay"></div>
    <section class="main-text">
      <header>
        <h1>What I do</h1>
      </header>
      <p>
        I listen to your idea, then turn it into a <span>beautiful, usable</span> and <span>responsive website</span> which will help you get in touch with your clients, and brag about it with your friends <i class="fa fa-smile-o" aria-hidden="true"></i> . <br/><br/>
        Have an idea?
      </p>
      <br/><br/>
      <a class="cta" href="#contact">Let's build something great</a>
    </section>
  </div>
  <!-- end second-page -->

  <div class="third-page">
    <div class="container left" id="about">
      <section class="main-text">
        <header>
          <h1>My story</h1>
        </header>
        <p>I'm a pixel perfectionist based in Cluj-Napoca, Romania and I dedicate myself to constantly learn the latest trends in Front-End/UI development.<br/><br/>
        I'm one of those guys in the team who tries to spread around ideas, a little bit of art, science and dedication.<br/><br/>
        I love front-end development, cycling and psychology.</p>
      </section>
    </div>

    <div class="container right" id="services">
      <section class="main-text">
        <header>
          <h1>Services</h1>
        </header>
        <p>I design and develop websites from scratch and I'm confortable doing Search Engine Optimization.<br/><br/>
           I'm specialized in ReactJS, NextJS, HTML5, CSS3, Bootstrap, jQuery/JavaScript(ES5) and WordPress.
           <br/><br/>
           I'm currently available for part-time freelance work.
        </p>
        <div class="logos">
          <figure><img src="assets/img-optimized/html.png" alt="html logo"></figure>
          <figure><img src="assets/img-optimized/css.png" alt="css logo"></figure>
          <figure><img src="assets/img-optimized/bootstrap.png" alt="bootstrap logo"></figure>
          <figure><img src="assets/img-optimized/jquery.png" alt="jquery logo"></figure>
          <figure><img src="assets/img-optimized/js.png" alt="javascript logo"></figure>
          <figure><img src="assets/img-optimized/wordpress.png" alt="wordpress logo"></figure>
        </div>
      </section>
    </div>
  </div>
  <!-- end third-page -->

  <div class="fourth-page clearfix">
    <section class="main-text" id="portfolio">
      <header>
        <h1>My work</h1>
      </header>
      <p>
        Here are some of the projects that I've built in the last six months. If you want to see a complete list of my work, contact me.
      </p>
      <div class="sortContainer">
        <ul id="sortItems">
          <li class="sortBtn active" onclick="filterSelection('all')">SHOW ALL</li>
          <li class="sortBtn" onclick="filterSelection('html css')">HTML5 / CSS3</li>
          <li class="sortBtn" onclick="filterSelection('jquery')">jQuery</li>
          <li class="sortBtn" onclick="filterSelection('javascript')">Vanilla JavaScript</li>
          <li class="sortBtn" onclick="filterSelection('bootstrap')">Bootstrap</li>
          <li class="sortBtn" onclick="filterSelection('wordpress')">WordPress</li>
          <li class="sortBtn" onclick="filterSelection('asp')">ASP.NET</li>
        </ul>
      </div>
      <p id="info"></p>
    </section>

    <div class="portfolio-container">
      {# Loop over projects from _data/projects.json #}
      {% for project in projects %}
        <div class="filter portfolio {{ project.classes }}">
          <div class="hover-text">
            <div class="text">
              <p>View project <i aria-hidden="true" class="fa fa-arrow-right"></i></p>
            </div>
            <a href="{{ project.url }}" target="_blank"></a>
          </div>
        </div>
      {% endfor %}
    </div>

    <a id="viewMoreBtn" href="https://codepen.io/andreimarian" target="_blank">View all my work</a>
  </div>
  <!-- end fourth-page -->

  <div class="fifth-page">
    <div class="overlay"></div>
    <section class="main-text">
      <header>
        <h1>Thank you for visiting</h1>
      </header>
      <p>
        Are you interested in working together? Let’s have a chat!<br/><br/>
        I'm curious about your online work, about your ideas, and I'm very open to suggestions.
      </p>
    </section>
  </div>

  {# FOOTER PARTIAL #}
  {% include "partials/footer.njk" %}

</div>
