{# src/_includes/partials/footer.njk #}

<footer class="footer" id="contact">
  <div class="left">
    <section class="form-container">
      <h2>Let's get in touch</h2>
      <p>Do you have a great idea or do you need help building your online presence?</p>
      <form method="POST" action="https://formspree.io/nemetimarian@yahoo.com">
        <input type="text" name="name" placeholder="Your name" required>
        <br/>
        <input type="email" name="email" placeholder="Your email" required>
        <br/>
        <textarea name="message" placeholder="Your message" required></textarea>
        <br/>
        <button type="submit">Send</button>
      </form>
    </section>
  </div>

  <div class="right">
    <div class="logo">
      <img src="assets/img-optimized/logo.png" alt="logo">
    </div>
    <aside class="social-icons">
      <a href="https://www.linkedin.com/in/andrei-marian-nemeti/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="https://github.com/andreinemeti" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="https://codepen.io/andreimarian/" target="_blank"><i class="fa fa-codepen" aria-hidden="true"></i></a>
    </aside>
    <aside class="copyright">
      <p>&copy; 2018 Andrei Nemeti</p>
      <p>Cluj-Napoca, Romania</p>
      <p><a href="mailto:nemetimarian@yahoo.com" title="Send me an email"><i class="fa fa-envelope" aria-hidden="true"></i> nemetimarian@yahoo.com</a></p>
    </aside>
  </div>
</footer>


