{# src/_includes/partials/nav.njk #}

<div class="logo">
  <a href="index.html"><img src="assets/img-optimized/logo.png" alt="logo"></a>
</div>

<nav class="open-nav" onclick="openNav()">
  <span style="font-size:30px;cursor:pointer">&#9776;</span>
</nav>

<nav id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" id="close">&times;</a>
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#portfolio">Portfolio</a>
  <a href="#contact">Contact</a>
</nav>
