// src/styles/base/_animations.scss

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes starPulse {
  from { opacity: 0.1; }
  to   { opacity: 0.5; }
}

@keyframes starPulse {
  from { opacity: 0.1; }
  to   { opacity: 0.5; }
}

@keyframes zoom-in {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
}

@keyframes scroll {
  0%   { opacity: 0; }
  10%  { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0; }
}
