// src/styles/base/_media-queries.scss

@media all and (min-width:2000px) {
  .fourth-page .portfolio {
    width: 330px;
  }
}

@media all and (min-width:960px) {
  .third-page .main-text {
    justify-content: initial;
  }

  .fifth-page p {
    font-size: 25px;
  }
}

@media all and (max-width:980px) {
  .third-page .container.left {
    width: 100%;
    height: auto;
  }

  .third-page .container.right {
    width: 100%;
    background: #161616;
    height: auto;
  }

  .fourth-page .main-text p {
    width: 90%;
  }

  .portfolio {
    width: 45%;
  }

  .portfolio-container {
    width: 90%;
  }
}

@media all and (max-width:767px) {
  .first-page .logo {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 0;
  }

  .first-page .logo a img {
    height: 120px;
    top: -1.7rem;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 0;
  }

  .footer .logo img {
    height: 130px;
  }

  .sidenav.mobile-only {
    width: 250px;
    background: #2F3FD5;
    background: rgba(0, 0, 0, 1) url(../img-optimized/nav.png) repeat;
  
    pointer-events:all;
    transform:translateX(0);
  }

  .sidenav.mobile-only a {
    color: $color-white;
    width: 50%;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1111;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  
    pointer-events:none;
    transform:translateX(-100px);
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    float: none;
  }

  .open-nav {
    display: block;
  }

  #close {
    display: block;
  }

  .third-page {
    width: 100%;
  }

  .footer {
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 30px;
  }

  .footer .left,
  .footer .right {
    width: 100%;
  }

  .form-container {
    padding-top: 50px;
  }

  .form-container p {
    padding: 0 20px;
  }
}

@media all and (max-width:690px) {
  .main-text h1 {
    font-size: 32px;
  }

  .social {
    flex-direction: row;
    left: 0;
    right: 0;
    bottom: 4.5rem;
  }

  .social .fa {
    margin: 20px 10px 0 10px;
  }
}

@media all and (max-width:600px) {
  .main-text {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

  .main-text h1 {
    font-size: 30px;
  }

  .main-text h4 {
    font-size: 25px;
  }

  .portfolio-container .portfolio {
    width: 70%;
  }

  form {
    height: 100%;
    padding-bottom: 40px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, .3), 0 15px 12px rgba(0, 0, 0, .1);
  }

  input[type="text"],
  input[type="email"],
  textarea,
  button[type="submit"] {
    float: none;
    width: 70%;
  }
}

@media all and (max-width:569px) {
  .portfolio {
    width: 77%;
  }
}

@media all and (max-width:480px) {
  .cta {
    margin-top: -25px;
  }

  .second-page .main-text p {
    width: 100%;
  }

  .portfolio {
    width: 90%;
  }

  input[type="text"],
  input[type="email"],
  textarea,
  button[type="submit"] {
    width: 95%;
  }

  .main-text p {
    font-size: 18px;
  }

  .third-page .right h1 {
    margin-top: -35px;
  }

  .third-page .logos {
    top: 0;
  }

  .third-page figure {
    width: 27%;
  }

  .fifth-page .main-text {
    width: 90%;
    height: 67%;
  }
}

@media all and (max-width:380px) {
  .sidenav.mobile-only {
    width: 70%;
  }

  .open-nav {
    width: 70px;
  }

  .logo {
    margin-right: 8px;
    top: -2px;
  }

  .logo a img {
    height: 100px;
    right: -1.5rem;
  }

  .main-text h4 {
    font-size: 20px;
    margin-top: -10px;
  }

  .main-text header h1 {
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
  }

  .fourth-page header h1 {
    margin-bottom: 25px;
  }

  .portfolio-container .portfolio {
    width: 100%;
  }
}

@media all and (max-width:345px) {
  .main-text p {
    width: 90%;
  }

  .fifth-page .main-text {
    width: 100%;
  }

  .footer .left h2 {
    width: 100%;
  }
}
