// src/styles/base/_reset.scss

nav,
section,
aside,
header,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0em;
  -webkit-padding-start: 0;
  -webkit-margin-after: 0em;
  margin: 0;
  padding: 0;
}

section:focus,
div:focus,
footer:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
}

// Text selection
p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
li::selection,
body::selection,
span::selection,
input::selection,
textarea::selection,
img::selection {
  background: $color-selection-red;
  color: $color-white;
}
